    <li>
      <%= image_for(note.user) %>
      <span class="user-name">
        <%= note.user.name %>
      </span>
      <span class="content">
        <%= link_to note.title, note_path(note.id) %>
      </span>
    </li>
